*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}


// Conatct

#Contact{
    background-image: url(https://nifty.bold-themes.com/swirl/wp-content/uploads/sites/5/2020/09/background_contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
    .contact{
        .left{
            padding-top: 40px;
            .texttop{
                p{
                    color: #181818;
                    font-size: 12px;
                    font-weight: bold;
                }
                h3{
                    color: #181818;
                    font-size: 37px;
                    font-weight: bold;
                    letter-spacing: -2px;
                    line-height: 1.2;
                    margin-bottom: 60px;
                }
                span{
                    color: #057485;
                    font-size: 44px;
                    margin-bottom: 60px;
                }
            }
            .textbt{
                margin-top: 60px;
                .box{
                    margin-bottom: 70px;
                    color: #181818;
                    p{
                        font-size: 11px;
                    }
                    h4{
                        font-size: 20px;
                        font-weight: bold;
                    }
                    span{
                        font-size: 17px;
                        line-height: 1.5;
                        font-weight: 400;
                    }
                }
            }
            .sosial{
                h3{
                    font-size: 24px;
                    color: #181818;
                    font-weight: bold;
                    margin-bottom: 30px;
                }
                a{
                    text-decoration: none;
                    color: #fff;
                    background-color: #057485;
                    font-size: 1.75rem;
                    border-radius: 50%;
                    padding: 11px 12px;
                    margin-right: 20px;
                    transition: 0.4s;
                    i{
                        margin-left: 4px;
                    }
                    &:hover{
                        color: #057485;
                        background-color: #fff;
                    }
                }
            }
        }
        .right{
            background-color: #f7f7f5;
            color: #181818;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 40px;
            border-radius: 10px;
            .righttop{
                p{
                    font-size: 12px;
                    font-weight: bold;
                }
                h3{
                    font-size: 34px;
                    font-weight: bold;
                    letter-spacing: -2px;
                    line-height: 1.2;
                    margin-bottom: 60px;
                }
            }
            .rightbt{
                label{
                    font-size: 16px;
                    font-weight: 500;
                    //margin-bottom: 5px;
                }
                input{
                    margin-bottom: 20px;
                    width: 100%;
                    height: 3rem;
                    border-radius: 3px;
                    background-color: #fff;
                    padding: .8em 1.2em;
                    border: 1px solid rgba(0,0,0,.1);
                }
                textarea{
                    height: 150px;
                    width: 100%;
                    border: 1px solid rgba(0,0,0,.1);
                    padding: .8em 1.2em;
                    border-radius: 3px;
                }
                button{
                    font-size: 13px;
                    border-radius: 50px;
                    line-height: 3;
                    font-weight: 500;
                    transition: 0.6s;
                    padding: 0 10px;
                    background-color: transparent;
                    border: 1px solid #057485;
                    color: #057485;
                    margin-top: 45px;
                    &:hover{
                        color: #f7f7f5;
                        background-color: #057485;
                        transform: translateY(-8px);
                    }
                }
            }
        }
    }
}

@media (max-width: 576px){
    .container-sm, .container {
        max-width: 540px;
    }
    #Contact{
        .contact{
            .left{
                .sosial{
                    a{
                       padding: 7px 7px;
                       font-size: 1.25rem;
                       margin-right: 4px; 
                    }
                }
            }
            .right{
                margin-top: 40px;
            }
        }
    }
}

@media (max-width: 1024px){
    .container-sm, .container {
        max-width: 1024px;
    }
    #Contact{
        .contact{
            .left{
                .sosial{
                    a{
                       padding: 7px 7px;
                       font-size: 1.25rem;
                       margin-right: 4px; 
                    }
                }
            }
            .right{
                margin-top: 31px;
            }
        }
    }
}